@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$blue_color: #005ea5;
$red_color: #e6304a;
$yellow_color: #ffc20e;
$background: #e0e0e0;
$border: #ccc;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $blue_color;
	&:hover {
		color: $blue_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* E Part 1 */

.e_part_1 {
	background: {
		image: url(e_part_1_bg.png);
		position: top;
		repeat: no-repeat;
	}
	a {
		display: inline-block;
		&.a {
			margin: 20px 20px 20px 0px;
		}
	}
}

/* E Part 2 */

.e_part_2 {
	min-height: 716px;
	background: {
		image: url(e_part_2_bg.png);
		position: top;
		repeat: no-repeat;
	}
	.texts {
		width: 540px;
		margin-top: 110px;
		color: $blue_color;
		.text_1 {
			font: {
				size: 38px;
				weight: 800;
			}
		}
		.text_2,
		.text_3,
		.text_4 {
			font-size: 24px;
			line-height: 26px;
		}
		.line {
			height: 1px;
			margin: 20px 0;
			background: {
				image: url(e_part_2_line_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
		.text_5 {
			font: {
				size: 24px;
				weight: 800;
			}
		}
	}
}

/* E Part 3 */

.e_part_3 {
	.row {
		min-height: 1300px;
		background: {
			color: $yellow_color;
			image: url(e_part_3_bg.png);
			position: top;
			repeat: no-repeat;
		}
	}
	.title_1 {
		width: 858px;
		margin-top: 110px;
		color: $blue_color;
		.text_1 {
			font: {
				size: 38px;
				weight: 800;
			}
			line-height: 38px;
		}
		.text_2 {
			font-size: 36px;
		}
	}
	.main_landing {
		margin-top: 90px;
		position: relative;
		z-index: 1;
	}
	.icon_1,
	.icon_2,
	.icon_3,
	.icon_4 {
		max-width: 130px;
		position: absolute;
		z-index: 2;
		.text {
			font-size: 16px;
			color: $primary_color;
		}
	}
	.icon_1 {
		margin-top: -1026px;
		margin-left: 70px;
	}
	.icon_2 {
		margin-top: -1182px;
		margin-left: 140px;
	}
	.icon_3 {
		margin-top: -1206px;
		margin-left: 580px;
	}
	.icon_4 {
		margin-top: -1026px;
		margin-left: 685px;
	}
	.title_2 {
		max-width: 240px;
		margin-top: -680px;
		margin-left: 680px;
		color: $blue_color;
		position: absolute;
		z-index: 2;
		.text_1 {
			font: {
				size: 36px;
				weight: 800;
			}
			line-height: 36px;
		}
		.text_2 {
			font-size: 36px;
		}
	}
	.icon_5,
	.icon_6,
	.icon_7 {
		max-width: 130px;
		position: absolute;
		z-index: 3;
		.text {
			.text_1 {
				font: {
					size: 20px;
					weight: 600;
				}
				color: $red_color;
			}
			.text_2 {
				color: $primary_color;
			}
		}
	}
	.icon_5 {
		margin-top: -350px;
		margin-left: 340px;
	}
	.icon_6 {
		margin-top: -410px;
		margin-left: 560px;
	}
	.icon_7 {
		margin-top: -560px;
		margin-left: 740px;
	}
	.line {
		max-width: 326px;
		margin-top: -350px;
		margin-left: 485px;
		position: absolute;
		z-index: 2;
	}
}

/* E Part 4 */

.e_part_4 {
	min-height: 280px;
	background: {
		image: url(e_part_4_bg.png);
		position: top;
		repeat: no-repeat;
	}
	.text {
		font: {
			size: 26px;
			weight: bold;
		}
		color: $blue_color;
		line-height: 30px;
	}
}

/* E Part 5 */

.e_part_5 {
	margin-top: -160px;
	position: relative;
	.form_landing {
		margin-top: 85px;
		.input-group {
			max-width: 320px;
			margin: auto;
			margin-bottom: 10px;
			.input-group-label {
				background-color: $background;
				border: 1px solid #fff;
				border-radius: 0;
			}
			.input-group-field {
				height: 38px;
				background-color: $background;
				border: 1px solid #fff;
				border-radius: 0;
				box-shadow: none;
				&::placeholder {
					color: $primary_color;
				}
			}
		}
		.button {
			padding: 5px 15px;
			background: {
				color: $red_color;
				image: none;
			}
			border-radius: 0;
		}
		.asterisk {
			color: $red_color;
		}
		.fusion-slider-loading {
			display: none;
		}
	}
}

/* E Part 6 */

.e_part_6 {
	min-height: 340px;
	background: {
		image: url(e_part_6_bg.png);
		position: top;
		repeat: no-repeat;
	}
	.image {
		margin-top: -70px;
		position: relative;
	}
}

/* P Part 1 */

.p_part_1 {
	min-height: 755px;
	background: {
		image: url(p_part_1_bg.png);
		position: top;
		repeat: no-repeat;
	}
	.texts {
		color: $blue_color;
		.text_1 {
			font: {
				size: 35px;
				weight: 800;
			}
		}
		.text_2,
		.text_3,
		.text_4,
		.text_5 {
			font-size: 24px;
			line-height: 26px;
		}
		.line {
			height: 1px;
			margin: 20px 0;
			background: {
				image: url(p_part_1_line_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
	}
	.image {
		margin-top: 60px;
	}
}

/* P Part 2 */

.p_part_2 {
	background: {
		image: url(p_part_2_bg.png);
		position: bottom;
		repeat: no-repeat;
	}
	.icon_1,
	.icon_2,
	.icon_3,
	.icon_4,
	.icon_5 {
		min-width: 150px;
		position: absolute;
		z-index: 2;
		.text {
			font-size: 16px;
			color: $primary_color;
		}
	}
	.icon_1 {
		margin-top: 120px;
		margin-left: 100px;
	}
	.icon_2 {
		margin-top: -50px;
		margin-left: 190px;
	}
	.icon_3 {
		margin-top: -110px;
		margin-left: 410px;
	}
	.icon_4 {
		margin-top: -50px;
		margin-left: 625px;
	}
	.icon_5 {
		margin-top: 120px;
		margin-left: 720px;
	}
	.title_1 {
		margin: 50px 0 100px 0;
		color: $blue_color;
		.text_1 {
			font: {
				size: 35px;
				weight: 800;
			}
			line-height: 35px;
		}
		.text_2 {
			font-size: 30px;
		}
	}
}

/* P Part 3 */

.p_part_3 {
	position: relative;
	z-index: 2;
	.icon_1,
	.icon_2,
	.icon_3 {
		margin-top: -70px;
		z-index: 3;
		.text {
			.text_1 {
				font: {
					size: 20px;
					weight: 600;
				}
				color: $red_color;
			}
			.text_2 {
				color: $primary_color;
			}
		}
	}
	.box {
		max-width: 765px;
		margin: 30px auto 30px auto;
		padding: 20px;
		border: 1px solid $red_color;
		.text_1,
		.text_2 {
			font: {
				size: 20px;
				weight: 600;
			}
		}
		.text_2 {
			color: $red_color;
		}
	}
	.form_landing {
		.input-group {
			max-width: 320px;
			margin: auto;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			.input-group-label {
				background-color: $background;
				border: 1px solid #fff;
				border-radius: 0;
			}
			.input-group-field {
				height: 38px;
				background-color: $background;
				border: 1px solid #fff;
				border-radius: 0;
				box-shadow: none;
				&::placeholder {
					color: $primary_color;
				}
			}
		}
		.button {
			margin: 10px 0 0 -42px !important;
			padding: 5px 15px;
			background: {
				color: $red_color;
				image: none;
			}
			border-radius: 0;
			position: absolute;
		}
		.asterisk {
			color: $red_color;
		}
		.fusion-slider-loading {
			display: none;
		}
	}
}

/* P Part 4 */

.p_part_4 {
	min-height: 486px;
	margin-top: -210px;
	background: {
		image: url(p_part_4_bg.png);
		position: top;
		repeat: no-repeat;
	}
	position: relative;
	z-index: 1;
	.image {
		margin-top: 30px;
	}
}

/* LDH Top */

.ldh_top {}

/* LDH Content */

.ldh_content {
	background: {
		background-color: #eaeaea;
		image: url(ldh_content_bg.png);
		position: top;
		repeat: no-repeat;
	}
	.title {
		font: {
			size: 36px;
			weight: bold;
		}
		display: block;
	}
	.subtitle {
		font: {
			size: 28px;
			weight: 600;
		}
		display: block;
	}
	.form_landing {
		max-width: 600px;
		margin: 30px auto 30px auto;
		padding: 30px;
		background-color: #81cec5;
		border: 5px solid #fff;
		.wpcf7-form {
			label {
				font-size: 28px;
				color: $primary_color;
			}
			.input-group {
				padding: 5px 0;
				border-bottom: 2px solid #fff;
				.wpcf7-form-control-wrap {
					width: 85%;
					.input-group-field {
						background-color: transparent;
						border: 0;
						box-shadow: none;
						color: #fff;
						&::placeholder {
							color: #fff;
						}
					}
				}
				.input-group-label {
					width: 15%;
					background-color: transparent;
					border: 0;
				}
			}
			.button {
				padding: 10px 25px;
				background: {
					color: $red_color;
					image: none;
				}
				border-radius: 0;
				font-size: 16px;
			}
		}
		.fusion-slider-loading {
			display: none;
		}
	}
	.bottom {
		max-width: 610px;
		margin: auto;
		.title {
			font-size: 28px;
		}
		.subtitle {
			font-size: 22px;
		}
		.icons {
			margin: 30px 0;
			p {
				font-size: 18px;
			}
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}